.aside {
  max-height: 100vh;
  position: sticky;
  top: 0;
  overflow-x: hidden;
  overflow-y: auto;
  width: 240px;
  flex-shrink: 0;
  padding-top: 80px;
  padding: 60px 12px 40px 12px;
}

.menu ul {
  list-style: none;
  padding-left: 20px;
}

.menu a,
.menu span {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 5px 0;
  transition: color 0.3s;
}

.menu a:hover {
  color: #007BFF;
}

.menu li {
  margin-bottom: 5px;
}

/* 子菜单样式 */
.menu ul ul {
  margin-top: 5px;
  padding-left: 20px;
}