.aside {
  max-height: 100vh;
  padding-top: 60px;
  position: sticky;
  top: 0;
  overflow-y: auto;
  flex-shrink: 0;
  flex-grow: 0;
  border-right: 1px solid #d1d9e0b3;
}

/* .menu 是整个菜单的样式 */
.menu {
  width: 220px;
  overflow: hidden;
  padding: 20px 16px 20px 16px;
  line-height: 1;
  transition: all .3s ease-in-out;
  opacity: 1;
  list-style-type: none;
}

.toggle {
  display: none;
}

@media only screen and (max-width: 767px) {
  .aside:not(.open) {
    .menu {
      width: 0;
      opacity: 0;
      padding: 0;
    }

  }

  .toggle {
    display: inline-block;
    position: sticky;
    top: 30px;
    left: 0;
    pointer-events: none;
  }

}

.menu li {
  padding: 6px 0;
}

/* 菜单项的样式 */
.menuItem {
  cursor: pointer;
  display: block;
}

.activity>:not(ul) {
  font-weight: bold;
}

.subMenu {
  list-style-type: none;
  padding-left: 14px;
  margin: 0;
  height: 0;
  overflow: hidden;
  transition: height 0.4s ease-out;
}

/* 展开时的子菜单 */
.subMenu.show {
  height: auto;
  /* 自动根据内容调整高度 */
}